{% extends 'base.html' %}

{% block cssLinks %}
<link href="{{ url_for('static', filename='css/output.css') }}" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='style/homepage.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/relate.css') }}">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" 
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.awesome-markers/2.0.4/leaflet.awesome-markers.css">
{% endblock %}

{% block pageTitle %} Relate Aqui {% endblock %}

{% block pageBody %}
<div id="map2"></div>

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" 
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.awesome-markers/2.0.4/leaflet.awesome-markers.js"></script>
<script src="{{ url_for('static', filename='js/mapa2.js') }}"></script>
{% endblock %}
